<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pacientes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a href="/pacientes/cadastrar">Cadastrar Paciente</a>
        <table>
            <tr>
                <th>Código</th>
                <th>CPF</th>
                <th>Nome</th>
                <th>Doença</th>
                <th>Editar</th>
                <th>Apagar</th>
            </tr>
            <tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.codigo}"></td>
                <td th:text="${paciente.cpf}"></td>
                <td th:text="${paciente.nome}"></td>
                <td th:text="${paciente.doenca}"></td>
                <td><a th:href="@{/pacientes/editar/{codigo}(codigo=${paciente.codigo})}">Editar</a></td>
                <td><a th:href="@{/pacientes/apagar/{codigo}(codigo=${paciente.codigo})}">Apagar</a></td>
            </tr>
        </table>
    </body>
</html>
